<div class="visuals">
    <div class="artwork">
        <image class="cover" src="{{ podcast.artwork }}" class="podcast_artwork"></image>
    </div>
    <div class="subscribe">
        <div class="subscribe_badge">
            <a href="https://podcasts.apple.com/us/podcast/id{{ podcast.itunes_id }}">{% include badges/apple_podcasts_badge.html %}</a>
            <a class="appname" href="https://podcasts.apple.com/us/podcast/id{{ podcast.itunes_id }}">Apple Podcasts</a>
        </div>
        <div class="subscribe_badge">
            <a href="https://overcast.fm/itunes{{podcast.itunes_id}}">{% include badges/overcast_badge.html %}</a>
            <a class="appname" href="https://overcast.fm/itunes{{podcast.itunes_id}}">Overcast</a>
        </div>
        <div class="subscribe_badge">
            <a href="https://open.spotify.com/show/{{podcast.spotify_id}}">{% include badges/spotify_badge.html %}</a>
            <a class="appname" href="https://open.spotify.com/show/{{podcast.spotify_id}}">Spotify</a>
        </div>
        <div class="subscribe_badge">
            <a href="{{podcast.permalink }}/feed.xml">{% include badges/rss_badge.html %}</a>
            <a class="appname" href="{{podcast.permalink }}/feed.xml">RSS</a>
        </div>
    </div>
</div>