@font-face {
    font-family: 'alma';
    src: url(/assets/fonts/alma/AlmaMono-Regular.otf);
    src: url(/assets/fonts/alma/almamono-regular-webfont.woff) format('woff'),
        url(/assets/fonts/alma/almamono-regular-webfont.woff2) format('woff2'),
        url(/assets/fonts/alma/AlmaMono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alma';
    src: url(/assets/fonts/alma/AlmaMono-Bold.otf);
    src: url(/assets/fonts/alma/almamono-bold-webfont.woff) format('woff'),
        url(/assets/fonts/alma/almamono-bold-webfont.woff2) format('woff2'),
        url(/assets/fonts/alma/AlmaMono-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: bold;
}

/* Latin Modern */
@font-face {
	font-family: 'LM';
	src: url(/assets/fonts/LM/lmroman10-regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LM';
	src: url(/assets/fonts/LM/lmroman10-italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'LM';
	src: url(/assets/fonts/LM/lmroman10-bold.otf);
	font-weight: bold;
	font-style: normal;
}

/* Latin Modern Mono */
@font-face {
	font-family: 'LM-Mono';
	src: url(/assets/fonts/LM/lmmono10-regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LM-Mono';
	src: url(/assets/fonts/LM/lmmono10-italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'LM-Mono';
	src: url(/assets/fonts/LM/lmmono10-bold.otf);
	font-weight: bold;
	font-style: normal;
}

/* Latin Modern Sans*/
@font-face {
	font-family: 'LM-Sans';
	src: url(/assets/fonts/LM/lmsans10-regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LM-Sans';
	src: url(/assets/fonts/LM/lmsans10-italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'LM-Sans';
	src: url(/assets/fonts/LM/lmsans10-bold.otf);
	font-weight: bold;
	font-style: normal;
}