@font-face {
    font-family: 'alma';
    src: url(/assets/fonts/alma/AlmaMono-Regular.otf);
    src: url(/assets/fonts/alma/almamono-regular-webfont.woff) format('woff'),
        url(/assets/fonts/alma/almamono-regular-webfont.woff2) format('woff2'),
        url(/assets/fonts/alma/AlmaMono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alma';
    src: url(/assets/fonts/alma/AlmaMono-Bold.otf);
    src: url(/assets/fonts/alma/almamono-bold-webfont.woff) format('woff'),
        url(/assets/fonts/alma/almamono-bold-webfont.woff2) format('woff2'),
        url(/assets/fonts/alma/AlmaMono-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: bold;
}

body {
    font-family: 'alma', monospace, 'Courier New', Courier, Times;
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    text-align: center;
}

.hosts {
    text-align: center;
    color: grey;
    font-size: 1em;
}

audio {
    display: block;
    width: 80%;
    margin: 1em auto;
}

.header {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
}

.header h1 {
    text-decoration: none;
    margin: 0px;
}

nav {
	text-align: center;
	margin: auto;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

::selection {
    background: #fdf52b;
}

em,
.cta{
	background: #fdf52b; 
}

a,
a:visited {
	text-decoration: none;
	color: inherit; 
}

a:hover {
	text-decoration: none;
	background: #fdf52b;
}

ul {
    list-style-type: square;
    text-align: left;
}

.visuals {
    text-align: center;
}

.podcast_artwork {
    width: 400px;
}

.subscribe_badge {
    display: inline-block;
    width: 4em;
    text-align: center;
    vertical-align: top;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.subscribe_badge svg,
.subscribe_badge .appname {
    display: block;
    margin: 0 auto;
}

.subscribe_badge svg {
    width: 3em;
    height: 3em;
    padding-bottom: 0.25em;
}

.subscribe_badge a {
    text-decoration: none;
}

.subscribe_badge .appname {
    font-size: 0.75em;
}

footer {
    text-align: center;
	margin: auto;
	font-size: 0.8em;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #000;
}