---
layout: default
id: Enter the ID of the podcast registered in podcasts.yaml
permalink: # Must be the same as in podcasts.yaml (can not pull variables in yaml header)
---

{% assign podcast = site.data.podcasts[page.id] %}

<h1>{{ page.title }}</h1>
<h2 class="hosts">{{ page.hosts | join: " et " }}</h2>

<div class="podcast-page">

    <div class="podcast-metadata">
    {% include podcast_visuals.html %}
    <p>{{ podcast.description }}</p>
    </div>

    <div class="podcast-episodes">
    {% for episode in site.pages reversed %}
        {% if episode.permalink contains page.permalink and episode.layout == "episode" %}
            <h3><a href="{{ episode.permalink }}">
                {% if episode.season %}
                    Saison {{ episode.season }} - 
                {% endif %} 
                Épisode {{ episode.number }}: {{ episode.title }}
            </a></h3>
            <i>{{ episode.date | date: "%A %e %B %Y " }}</i>
            <p>{{ episode.excerpt | truncate: 255 }}<a href="{{ episode.permalink }}">... lire plus</a></p>
            <audio controls preload="none">
                <source src="{{ episode.media }}" type="audio/mpeg">
            </audio>
        {% endif%}
    {% endfor %}
    </div>

</div>